<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dictionary App</title>
    <link rel="stylesheet" type="text/css" href="../static/main.css">
  </head>
  <body>
    <div class='content'>
      <form method='get'>
    <input type='text' name='word' placeholder="Enter word">
    </form>
    {% if meaning != None %}
    <p class='word'>{{ word }}</p>
    {% for key in meaning.keys() %}
    <p>{{ key }}: {{ '; '.join(meaning[key]) }}</p>
    {% endfor %}
    {% else %}
    <p>Word not found</p>
    {% endif %}
    </div>
  </body>
</html>
