<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dictionary App</title>
    <link rel="stylesheet" type="text/css" href="../static/main.css">
  </head>
  <body>
    <div class='content'>
      <form method='post'>
    <input type='text' name='word' placeholder="Enter word">
    </form>
    <p class='word'>{{ word }}</p>
    {% for key in meaning.keys() %}
    <p>{{ key }}: {{ '; '.join(meaning[key]) }}</p>
    {% endfor %}
    <p class='lesser'>Synonyms: {{ synonyms }}</p>
    <p class='lesser'>Antonyms: {{ antonyms }}</p>

    </div>
  </body>
</html>
